@import "~taro-ui-vue3/dist/style/components/tab-bar.scss";
@import "~taro-ui-vue3/dist/style/components/icon.scss";
@import "~taro-ui-vue3/dist/style/components/tabs.scss";

.tab-content {
  margin-bottom: 180px;
}

.component-content {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
